[submodule "odin-recipes"]
	path = odin-recipes
	url = https://github.com/oreocapybara/odin-recipes.git
[submodule "css-exercises"]
	path = css-exercises
	url = git@github.com:oreocapybara/css-exercises.git
[submodule "basic-javascript"]
	path = basic-javascript
	url = https://github.com/oreocapybara/basics-javascript.git
[submodule "/media/windows/Users/Calyx/Documents/Side Projects/top-repos/project/rock-paper-scissors"]
	path = /media/windows/Users/Calyx/Documents/Side Projects/top-repos/project/rock-paper-scissors
	url = git@github.com:oreocapybara/rock-paper-scissors.git
